body {
    margin: 0;
}
.m-30px {
    margin-top: 300px;
}
.bg-darkgray {
    background-color: #839394;
    color: white;
}
.bg-lightgray {
    background-color: #95A5A6;
    color: white;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: black;
}
.m-0 {
    margin: 0;
}
.navbar-right > li {
    list-style: none;
    padding-left: 15px;
}
.navbar-header >a {
    list-style: none;
    padding-left: 15px;
}
.navbar-nav > li > a> i {
    padding: 0 7px;
}
input[type=text], input[type=email], input[type=password] {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid lightgray;
  }
  .btn-1, .btn-2 {
    margin-top: 25px;
    width: 40%;
  }
  .btn-2 {
      background-color: white;
  }
  .btn-1 {
    border-radius: 25px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
.terms {
    margin-top: 20px;
}
.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
        rgba(255,255,224 ,1 ), 
        rgba(255, 0, 0, 0.45)
      ),
          url("laptop-woman-15.jpg");
    background-repeat: no-repeat;
}
.p-0 {
    padding: 0;
}
.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}